
body {
    min-width: 320px;
    color: white;
    background-color: white;
    /* overflow-y: hidden; */

}

.header {
    min-width: 320px;
    height: 110px;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    background-color: rgb(255, 255, 255, .4);
    transition: all .4s ease-in-out;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1;
    display: block;
}

.header:hover {
    background-color: white;
}

.logo {
    display: inline-block;
    font-size: 4em;
    padding-left: 20px;
    font-family: 'Biryani', serif; 
}

.logo-link {
    color: black;
    text-decoration: none;
}

.logo-link :nth-child(3) {
    font-family: 'Open Sans', sans-serif;
    color: #4d2100;
    text-decoration: none;
}

.logo:hover {
    color: #374f63;
    text-decoration: none;
    transition: 1s;
}

.navigation {
    position: relative;
    float: right;
    margin-top: 10px;
    vertical-align: middle;
}

.navigationList {
    /* margin: 0;
    padding: 0; */
    list-style-type: none;
    font-size: 1.5em;
    color: #4d2100;
}

.navigationList-item {
    position: relative;
    display: inline-block;
    margin-left: 50px;
}

.navigationList-item:last-child {
    margin-left: 30px;
}

.navigationList-item--border {
    /* line-height: 30px; */
    border: 1px solid #4d2100;
    border-radius: 5px;
    padding: 10px 24px;

}

.navigationList-link:link {
    text-decoration: none;
    color: #4d2100;
    transition: ease-in-out 1s;
}

.navigationList-link:hover {
    color: white;
    text-decoration: none;
}

.navigationList-item--border:hover {
    background-color: #4d2100;
    transition: ease-in-out 1s;
    text-decoration: none;
}

@media (max-width: 800px) { 
    .header {
        height: 100px;
    }
    .logo span{
    font-size: .5em;
}}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.burger {
    display: none;
    position: relative;
    width: 50px;
    height: 100%;
    right: 50px;
    color: #4d2100;
}

@media (max-width: 1000px) {
    .navigationList {
        display: none;
    }
    .burger {
        display: block;
    }
    .burger i {
font-size: 4em;
    }

}

@media (max-width: 700px) {
    .header {
        height: 75px;
        padding: 0px;
    }
    .burger {
        right: 10px;
    }
}
.title--big {
    width: 100%;
    z-index: -1;
    display: inline-block;
    background-image: url(../img/skyscrapers2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: 50%;
}

.title {
    position: relative;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, .7);
  
}

.title-text {
    padding-top: 300px;
    padding-bottom: 110px;
}

.title-text h1 {
    font-weight: 400;
    font-size: 4em;
    padding: 0;
}

@media (max-width: 875px) {
    .title {
        height: 500px;
        background-size: cover;
    }

    .title-text h1 {
        font-weight: 400;
        font-size: 3em;
    }

} 

@media (max-width: 675px) {
    .title {
        height: 350px;
        background-size: cover;
    }

    .title-text {
        padding-top: 175px;
        padding-bottom: 50px;
    }

    .title-text h1 {
        font-weight: 400;
        font-size: 2em;
    }

} 

.cards {
    background-color: white;
    height: 550px;
    width: 100%;
    z-index: -1;
    display: inline-block;
    background-image: url(../img/court2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* vertical-align: 50%;   */
}



/* 
.col {
    background-color: grey;
    border: solid 1px black;
}

.elements {
    border: 3px solid blue;
}

.box {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid green;
}

.box h2 {
    border: 1px solid red;
    display: inline;
}

.box1 h2 { 
    position: static;
}

.box2 h2 {
    position: relative;
    left: 10px;
}

.box3 h2 {
    position: fixed;
    left: 500px;
    top: 150px;
}

.box4 h2 {
    position: absolute;
    left: 700px;
    top: 350px;
}

.box5 h2 {
    position: sticky;
    top: 350px;
} */
